@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Rothschild Boulevard 12<br />
    Tel Aviv-Yafo, Israel 98052<br />
</address>

<address>
    <strong>Contact us on:</strong>   <a href="mailto:Shauli@gmail.com">Shauli@gmail.com</a><br />
</address>

<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJm3qK7pxMHRUReyvHnRLm4Ag&key=AIzaSyAFbh6aorNDRdHR0Dnb7ILpan8ScQWqFc0" allowfullscreen></iframe>